<div class="hobbies">
    <br><br><br><br><br><br><H1>My hobbies</H1><br><br>
  </div>

  <div class="vid-container">

      <div class="section_area_grid2">

        <div class="section_grid_item2">
          <div class="section_item_img2">
            <div *ngFor="let video of videos">
              <iframe [src]="cleanURL(video.url)" frameBorder="0" allowfullscreen>{{ video.vidname }}></iframe>
          
              <div class="section_item_text2">
              <br><br><p *ngIf="video.description">
              {{ video.description }}
            </p><br><br><br><br>
          </div>
    
          </div>
          </div>
        </div>

      </div>

    </div>
