<div class="resumeheader">
    <br><br><br><br><H1>My Gallery</H1><br>
  </div>

<section class="gallery">
    <div class="container">
        <div class="img-container">
            <img src="../assets/img/pf01.jpg" alt="Image1" id = "preview">
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img src="../assets/img/pf01.jpg" alt="Image1" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf02.jpg" alt="Image2" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf03.jpg" alt="Image3" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf04.jpg" alt="Image4" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf05.jpg" alt="Image5" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf06.jpg" alt="Image6" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf07.jpg" alt="Image7" appDemo>
                </div>
                <div class="img-slide">
                    <img src="../assets/img/pf08.jpg" alt="Image8" appDemo>
                </div>
            </div>
        </div>
    </div>
</section>