*{
    font-family: fantasy;
}

body {
    /*background-color: rgb(78, 78, 78);*/
    background: url(https://i.pinimg.com/originals/64/aa/6d/64aa6df2428f2ae45190b480e13ebd38.jpg) fixed center;
    background-image: url(https://i.pinimg.com/originals/64/aa/6d/64aa6df2428f2ae45190b480e13ebd38.jpg);

    background-position: center;
    background-attachment: fixed;
    width: 100%;
}
.bg {
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img.freepik.com/free-vector/brick-wall-realistic_1284-4683.jpg?w=826&t=st=1649644377~exp=1649644977~hmac=e4034e3b17690b841afc11eb999e0c1065e0f8b0f70b7da24a86bb8ce01670fe);
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.banner{
    position: relative;
    width: 100%;
    font-family: fantasy;
}
.banner img {
    max-width:100%;
    object-fit: cover;
}

.heading{
    color:azure;
    position:absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 10rem;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.441);
    font-size: 150px;
}

/*.hdbg {
    background-color: #000;
}*/

.logo {
    width: 80px;
    height: 50px;
}
.logo img{
    width: 100%;
}
.menu {
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul {
    display: flex;
}
.menu ul li{
    padding: 25px;
}
* li {
    list-style: none;
    font-size: 24px;
    
}

li a {
    text-decoration: none;
    color: rgb(21, 21, 21);
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: auto; 
    font-family: fantasy;
    text-align: center;
  }

  @keyframes fire {
    0% {
        background-position: left 0 top 10px;
    }
    30% {
        background-position: left 200px top 0px;
    }
    70% {
        background-position: left 400px top -5px;
    }
    100% {
        background-position: left 600px top -10px;
    }
}

.video1 {
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgb(218, 216, 216);*/
    outline: 5px solid rgb(0, 81, 255);
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    width: 75%;
}

.video1 iframe {
    margin-left: 8%;
}

.video1 h1 {
    text-align: center;
    margin-top: 5%;
    color: rgb(39, 39, 39);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    min-width: 100%;
}

.info1-img {
    width: 30%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.info1-row p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(54, 54, 54);
    line-height: 22px;
    font-weight: 15px;
    font-size: 18px;
}

.info1-row {
    display: flex;
    /*background-color: rgb(218, 216, 216);*/
    background-color: rgb(255, 255, 255);
    margin: 50px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    padding: 1%;
}

.btn {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center; 
   background: none;
   /*border: 2px solid #000;*/
   font-family: fantasy;
   padding: 12px 20px;
   min-width: 200px;
   margin: 10px;
   cursor: pointer;
   transition: color 0.4s linear;
   position: relative;
}
.btn:hover {
    color: rgb(90, 90, 90);
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 85, 255);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0.0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btn1::before{
    transform: scaleX(0);
}
.btn2::before{
    transform: scaleY(0);
}
.btn1:hover:before{
    transform: scaleX(1);
}
.btn2:hover:before{
    transform: scaleY(1);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section_area_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.section_grid_item {
    /*background-color: rgb(218, 216, 216);*/
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 5%;
}

.section_item_img img{
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

@media only screen and (max-width: 480px) {
    .section_area_grid {
        grid-template-columns: 1fr;
    }
    .section_grid_item {
        padding: 1rem;
    }
}

.section_area_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.section_grid_item2 {
    /*background-color: rgb(218, 216, 216);*/
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 5%;
}

.section_item_img2 iframe{
    width: 480px;
    height: 360px;
    margin: auto;
    display: block;
}

@media only screen and (max-width: 480px) {
    .section_area_grid {
        grid-template-columns: 1fr;
    }
    .section_grid_item {
        padding: 1rem;
    }
}

.resumeheader h1 {
    text-align: center;
}

.hobbies h1 {
    text-align: center;
}

.img-container {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.img-prev {
    margin-top: 10px;
}
.img-slide {
    display: inline-block;
    width: 24%;
    margin:  0 1px;
    cursor: pointer;
    opacity: 0.6;
}
.active {
    border: 2px solid #222;
    opacity: 1;
}