<div class="resumeheader">
    <br><br><br><br><H1>Nattaphong Pannengpet</H1><br>
  </div>

<div class="container">
    <div class="row">
        <div class="col">

          <div class="info1-row">
            <div class="info1-img">
              <img src="../assets/img/pf02.jpg" width="100%">
            </div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    I graduated in Information Technology with GPA 
                3.48 and have work experience as internship student at
                Rangsit city municipality as HTML Front-End developer
                and graphic editor. <br> I’m ready to learn to work in all forms. 
                Responsibility are my type. And I like to learn new 
                skill or new type of work. </p>
            </div>
        </div>
    </div>

  <div class="section_area_grid">

  <div class="section_grid_item">
    <div class="section_item_img">
    <h3>Skills</h3><br>
      <img src="https://th.bing.com/th/id/R.77706eb896cd0147a668b45aece999d4?rik=ZbLPAWhu%2fXtBgw&pid=ImgRaw&r=0" width="20%">
    </div>
        <div class="section_item_text">
          <h4>Hard skills</h4>
          Adobe Premiere Pro, 
          Photoshop, XD, Figma
          SQL, HTML, CSS, Bootstrap
          <br><br>
          <h4>Soft skills</h4>
          Moto Gymkhana, 
          Safety Riding, Circuit Racing
        </div>
  </div>

  <div class="section_grid_item">
    <div class="section_item_img">
      <h3>Experience</h3><br>
      <img src="https://cdn.onlinewebfonts.com/svg/img_269797.png" width="20%">
    </div>
        <div class="section_item_text">
          <h4>Experience</h4>
          Student internship
          : Develop Front-end with HTML and Graphic Editing.
          <br>• Photo and Video editing.
          <br>• Store keeper and Admin online shop (Shopee , Lazada)
          <br>• Food and Goods deliver.
        </div>
  </div>

  <div class="section_grid_item">
    <div class="section_item_img">
    <h3>Education</h3><br>
      <img src="https://th.bing.com/th/id/R.9d5c4418b19cb643b0c25f0725a70b4d?rik=nVygLq78M479ZA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_142809.png&ehk=IbJerc2Fii4KaeL7tSDl%2bqeaU7GU5d7WBnzT05TXeK8%3d&risl=&pid=ImgRaw&r=0" width="20%">
    </div>
        <div class="section_item_text">
          <h4>Education</h4>
          Bachelor’s Degree : Rajamangala University of Technology 
          Thanyaburi (RMUTT) 2017 – 2021
          <br>• Faculty of Industrial Education
          <br>• Bachelor of Information Technology
          <br>• GPA : 3.48
        </div>
  </div>

  <div class="section_grid_item">
    <div class="section_item_img">
    <h3>Certifications</h3><br>
      <img src="https://th.bing.com/th/id/R.6cff1f6c47368acd8cff47c6ed4a9210?rik=CvsxaaA9syduQg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_412584.png&ehk=tcvlruOQewwrFOxSuhC4If4RVqilblMg%2bPkeADjjSNs%3d&risl=&pid=ImgRaw&r=0" width="20%">
    </div>
        <div class="section_item_text">
          <h4>Certifications</h4>
          Honda Gymkhana Skill Challenge Trophy : 5th Position.
          <br>TOEIC : 615
          <br>ThaiMooc : Online creative photography class certificated
        </div>
  </div>

  <div class="section_grid_item">
    <div class="section_item_img">
      <h3>Military Status</h3><br>
      <img src="https://th.bing.com/th/id/R.1e4a771895058f93a17bd66d544965c3?rik=cep3zURhA6stQw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_428190.png&ehk=HyD0C8fYym18dAvYdjHv9QrFruU8%2fC4XwnXP6qZ5BAY%3d&risl=&pid=ImgRaw&r=0" width="20%">
    </div>
        <div class="section_item_text">
          <h4>Military Status</h4>
          Exempted : Finished Military Service Training of Territorial 
          Defence Course.
        </div>
  </div>